html {
  @include responsive(phone) {
    font-size: 0.8em;
  }
  @include responsive(phone) {
    #header {
      position: relative;
      .navegacion {
        padding: 0px 0px 10px;
        font-size: 2em;
        margin: 0;
        li {
          font-family: "Montserrat", sans-serif;
        }
      }
    }
    .redes {
      display: flex;
    }
  }
  @include responsive(phone) {
    .principalDestinos {
      margin: auto;
    }
  }
}
.seccion {
  @include responsive(phone) {
    h1 {
      padding: 0px;
      padding-top: 255px;
      color: #000;
      font-size: 3em;
      text-align: center;
    }
  }
}
.modificador {
  @include responsive(phone) {
    .destinos1 {
      padding-top: 35px;
      padding-bottom: 25px;
      padding-left: 0px;
    }
    .destinos2 {
      padding-bottom: 55px;
    }
  }
}
.acerca {
  @include responsive(phone) {
    .bossAcerca {
      padding-left: 5px;
    }
  }
}
.acerca {
  @include responsive(phone) {
    .bossContact {
      margin: auto;
    }
  }
}
main {
  @include responsive(phone) {
    margin-top: 0px;
  }
}

.fondoImagenLugares {
  @include responsive(phone) {
    height: auto;
  }
  @include responsive(phone) {
    .TextoContenido {
      padding-top: 70px;
    }
    .viajes {
      display: flex;
      flex-direction: column;
      .destinos {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
.fondoContacto {
  @include responsive(phone) {
    width: 100%;
    height: auto;
    .padreContacto {
      display: flex;
      flex-direction: column;
      .contactoPr {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .formEstilo {
      width: 90%;
      margin-bottom: 10px;
    }
  }
  @media all and (min-width: 1280px) {
    height: 120vh;
  }
  @media all and (min-width: 1920px) {
    height: 100vh;
  }
}
.recibir {
  @include responsive(phone) {
    .areaR {
      width: 90%;
    }
  }
}
.foot {
  @include responsive(phone){
      .areaR{
        width: 90%;
      }
  }
}