html {
  @include responsive(phone) {
    font-size: 0.8em;
  }
  @include responsive(phone) {
    #header {
      position: relative;
      .navegacion {
        padding: 0px;
        font-size: 2em;
      }
    }
  }
  @include responsive(phone) {
    .principalDestinos {
      margin: auto;
    }
  }
}
.seccion {
  @include responsive(phone) {
    h1 {
      padding: 0px;
      padding-top: 255px;
      color: #000;
      font-size: 3em;
      text-align: center;
    }
  }
}
.seccion_1{
  @include responsive(phone) {
    height: 160vh;
  }
}
.modificador {
  @include responsive(phone) {
    .destinos1 {
      padding-top: 55px;
      padding-bottom: 55px;
      padding-left: 0px;
    }
    .destinos {
      padding-bottom: 55px;
    }
  }
}
.acerca {
  @include responsive(phone) {
    .bossAcerca {
      padding-left: 5px;
    }
  }
}
main {
  @include responsive(phone) {
    margin-top: 0px;
  }
}

.fondoImagenLugares {
  @include responsive(phone) {
    .TextoContenido {
      padding-top: 70px;
    }
    .viajes {
      display: flex;
      flex-direction: column;
      .destinos {
        width: 100%;
      }
    }
  }
}
.fondoContacto {
  @include responsive(phone) {
    .formEstilo {
      width: 80%;
    }
  }
}
