$primario: #212529 ;
$secundario: #505c7b ;
$fondoNav: rgba(173,172,172,0.9); 
$texto-titulos: #212529 ;
$texto-secundario: #505c7b ;
$texto-barranavegacion: #2e2a2c;
$fondo-button: rgba(173,172,172,0.9);
$border-button: #000;
$ancho-navegacion: 100%;

$font-principal: 'RocknRoll One', sans-serif;
$font-secundario: 'Fredoka One', sans-serif;
$font-barradenavegacion: 'Kiwi Maru', serif;
$font-parrafo: 'Quicksand', sans-serif;
$font-button: 'Quicksand', sans-serif;
$font-lugares: 'Balsamiq Sans', cursive;
$condicion: true;